* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

.header,
.footer {
    background-color: #1f2937;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 10px 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: lightslategray;
}

.nav ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero h1,
.hero p {
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    line-height: 1;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.header img {
    width: 400px;
}

.header button,
.call-to-action button {
    font-weight: 600;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 8px 23px;
    transition: all 0.3s ease-in-out;
}

.header button:hover,
.call-to-action button:hover {
    transform: scale(1.1);
}

.content {
    color: #1f2937;
    display: flex;
    flex-direction: column;
}

.content-title {
    font-size: 36px;
    font-weight: bolder;
    margin: 50px auto 70px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 90px;
}

.boxes,
blockquote,
.quote p {
    max-width: 700px;
}

.box img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    padding: 4px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.box img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.box p {
    font-size: 16px;
    width: 150px;
}

.box img,
.box p {
    margin-left: 15px;
    margin-right: 15px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px;
}

blockquote {
    font-size: 34px;
    font-style: italic;
    font-weight: normal;
    margin: 0 auto;
}

.quote p {
    font-weight: bold;
    margin: 0 auto;
    text-align: right;
}

.call-to-action {
    display: flex;
    background-color: #3882f6;
    width: 80%;
    margin: 50px auto;
    padding: 45px 95px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.call-to-action,
.call-to-action button {
    font-size: 16px;
    color: white;
}

.call-to-action button {
    border: 2px solid white;
}

.footer {
    font-size: 16px;
    text-align: center;
    padding: 35px;
}

@media (max-width: 900px) {
    .mobile {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .mobile img {
        margin-bottom: 20px;
        max-width: 90%;
    }

    .mobile p {
        max-width: 500px;
    }

    .content,
    .quote p {
        text-align: center;
    }

    .boxes {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .box {
        margin-bottom: 20px;
    }

    blockquote {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .call-to-action {
        flex-direction: column;
        gap: 16px;
        padding: 25px 45px;
    }
}